%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button(class='navbar-toggle collapsed' data-gottle='collapse' data-target='#bs-example-navbar-collapse-1')
        %span.sr-only Toggle navigation
      =link_to 'MyFitList', root_path
    -if signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          = link_to '#', class: 'dropdown-toggle', role: 'button', 'data-toggle' => 'dropdown' do
            %i.glyphicon.glyphicon-user
            = current_user.full_name
            %span.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li= link_to '退出', sign_out_path